Basic Python Codes

1. Write a program to check if a number is even or odd.

In [ ]:
num = int(input("Enter a number: "))
print("Even" if num % 2 == 0 else "Odd")

Enter a number: 13
Odd

num % 2 checks the remainder to decide if the number is even or odd.

2. Write a function that takes a string and returns it in uppercase.

In [ ]:
def to_upper(s):
    return s.upper()

print(to_upper("upper"))

UPPER

.upper() converts all characters in the string to uppercase.

3. Print the first 10 natural numbers using a loop.

In [ ]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

range(1, 11) generates numbers from 1 to 10.

4. Write a program to find the largest of three numbers.

In [ ]:
a, b, c = 10, 20, 5
print(max(a, b, c))

20

max() returns the biggest value among the given numbers.

5. Write a program to swap two numbers without using a third variable

In [ ]:
x = 5
y = 10
x, y = y, x
print("x = ",x, "y = ",y)

x =  10 y =  5

Python swaps values directly using tuple unpacking.

6. Take two numbers from the user and print their sum, difference, product, and quotient.

In [ ]:
a = float(input("Enter first number: "))
b = float(input("Enter second number: "))

print("Sum:", a + b)
print("Difference:", a - b)
print("Product:", a * b)
print("Quotient:", a / b)

Enter first number: 43
Enter second number: 21
Sum: 64.0
Difference: 22.0
Product: 903.0
Quotient: 2.0476190476190474

This program takes two numbers from the user, performs all basic arithmetic operations (add, subtract, multiply, divide), and prints the results.

7. Write a program that checks if a year is a leap year or not.

In [ ]:
year = int(input("Enter year: "))
print("Leap Year" if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0) else "Not Leap Year")

Enter year: 2024
Leap Year

Uses the leap year rule: divisible by 4 but not 100 unless divisible by 400.

8. Print the multiplication table of any number entered by the user.

In [ ]:
n = int(input("Enter number: "))
for i in range(1, 11):
    print(n, "x", i, "=", n * i)

Enter number: 11
11 x 1 = 11
11 x 2 = 22
11 x 3 = 33
11 x 4 = 44
11 x 5 = 55
11 x 6 = 66
11 x 7 = 77
11 x 8 = 88
11 x 9 = 99
11 x 10 = 110

Loops from 1â€“10 and multiplies each value with n.

9. Write a program to remove duplicates from a list.

In [ ]:
lst = [1, 2, 2, 3, 4, 4, 5]
lst = list(set(lst))
print(lst)

[1, 2, 3, 4, 5]

set() removes duplicates because sets allow only unique elements.